In [2]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras

 $r(i,j)$ scalar; = 1;  if user j rated movie i  = 0  otherwise             
$y(i,j)$ scalar; = rating given by user j on movie  i    (if r(i,j) = 1 is defined)   
$\mathbf{w}^{(j)}$vector; parameters for user j  
$b^{(j)}$ scalar; parameter for user j    
$\mathbf{x}^{(i)}$ vector; feature ratings for movie i          
$n_u$ number of users  
$n_m$ number of movies    
$n$ number of features   
$\mathbf{X}$ matrix of vectors $\mathbf{x}^{(i)}$         
$\mathbf{W}$ matrix of vectors $\mathbf{w}^{(j)}$         
$\mathbf{b}$ vector of bias parameters $b^{(j)}$   
$\mathbf{R}$ matrix of elements $r(i,j)$

## Recommender Systems
The goal of a collaborative filtering recommender system is to generate two vectors: For each user, a 'parameter vector' that embodies the movie rastes of a user.
For each movie, a feature vector of the same size which embodies some description of the movie. 

The dot product of the two vectors plus the bias term should produce an estimate of the rating the user might give to that movie.

### Importing dataset

In [104]:
# get the total number of unique movies
movie_rows = len(df['movieId'].unique())

In [105]:
# list to add ratings by each user for a particular movie
lst = []

In [106]:
df = pd.read_csv("./dataset/ml-latest-small/ratings.csv")
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [109]:
# loop to get the rating for a movie from all the user and append it to a list
for each in range(1, movie_rows):
    final_list = np.zeros(shape=(n_u,))
    # get the ratings for a movie by all user
    movie_rating = df[df['movieId'] == each]['rating'].to_numpy()
    # get all the user who has rated the movie 
    userid_in_data = df[df['movieId'] == each]['userId'].to_numpy()

    # if the user is is in the list of user who has rated, get the index
    final_list[np.where(np.isin(userid_generated, userid_in_data ))] = movie_rating

    lst.append(final_list)

In [110]:
# convert the loop to array
Y = np.array(lst)

In [111]:
"""
Here, each row represents a movie and each column represents rating given by a user
"""
Y

array([[4. , 0. , 0. , ..., 2.5, 3. , 5. ],
       [0. , 0. , 0. , ..., 2. , 0. , 0. ],
       [4. , 0. , 0. , ..., 2. , 0. , 0. ],
       ...,
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ]])

In [112]:
R = Y > 1

In [115]:
"""
Converting bool to int. 
Each row represents a movie, and each column represents 1(for if the user has rated) and 0(for if not)

"""
R = R.astype(int)